


.padre {
    display: flex;
    justify-content: center;
  }
  .hijo {
    padding: 10px;
    margin: 10px;
    background-color: yellow;
  }


  #padre {
    display: flex;
    justify-content: center;
  }

  #hijo {
    padding: 10px;
    margin: 10px;
  }


